/* CSS reset and global properties go here */
:root {
  /* Fonts */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-xxl: 1.5rem;
  --text-xxxl: 2rem;
  --text-xxxxl: 2.5rem;

  /* Spacing */
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;

  /* Colors */
  --color-white: white;
  --color-eggshell: #fafafa;
  --color-lightgray: #e5e5e5;
  --color-gray: #a3a3a3;
  --color-darkgray: #525252;
  --color-charcoal: #262626;
  --color-black: #0a0a0a;

  --color-accent1: #2dd4bf;
  --color-accent1-alt: #1c877a;
  --color-accent2-alt: #871c4e;

  /* Drop shadow */
  --drop-shadow-md: drop-shadow(3px 3px 2px #e5e5e5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  letter-spacing: 1px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.border-red {
  border: 3px solid #f00;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
.text-xxxxl {
  font-size: var(--text-xxxxl);
}

h2,
.text-xxxl {
  font-size: var(--text-xxxl);
}

h3,
.text-xxl {
  font-size: var(--text-xxl);
}
