body {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 1px solid var(--color-lightgray);
}

header {
  position: relative;
  text-align: center;
}

.logo {
  text-decoration: none;
  font-size: var(--text-xxxxl);
  display: inline-flex;
  align-items: center;
  gap: 0;
  font-family: "Kaushan Script", cursive;
  padding: var(--space-xs) 0;
}

.logo-word-todo {
  color: var(--color-accent1);
}

.logo-word-list {
  position: relative;
  color: var(--color-darkgray);
}

.logo-image {
  width: 30px;
}

.button-nav-open {
  position: absolute;
  inset: var(--space-sm) 0 0 var(--space-sm);
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-lightgray);
  transition: opacity 250ms ease;
}

.button-nav-open:focus,
.button-nav-open:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: var(--color-darkgray);
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}

.nav {
  grid-area: nav;
  padding: var(--space-md) var(--space-xs);
  position: absolute;
  inset: 0;
  background-color: var(--color-eggshell);
  width: 90%;
  margin: var(--space-md) auto;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  min-height: max-content;
  display: none;
  filter: var(--drop-shadow-md);
  text-align: center;
  z-index: 1;
}

.nav.open {
  display: block;
}

.nav__title {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-bottom: var(--space-md);
}

.nav__list {
  display: grid;
  grid-auto-flow: row;
  gap: var(--space-sm);
  grid-template-columns: minmax(100px, 250px);
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin-bottom: var(--space-xxl);
}

.nav__item {
  font-family: "Montserrat", sans-serif;
}

.nav__item:hover {
  opacity: 65%;
}

.nav__link-timeframe {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-accent2-alt);
  background-color: var(--color-lightgray);
  padding: 0.5em 0;
  width: 100%;
  border-radius: var(--border-radius);
}

.nav__link-project {
  color: var(--color-accent1-alt);
  font-weight: 500;
  text-decoration: none;
}

.nav__link-timeframe:focus,
.nav__link-timeframe:hover,
.nav__link-project:focus,
.nav__link-project:hover {
  text-decoration: underline;
}

.nav__link-settings {
  display: inline-block;
  width: min(250px, 100%);
  padding: var(--space-md) 0;
  border-top: 1px solid var(--color-lightgray);
  text-decoration: none;
  color: var(--color-darkgray);
}

.nav__button-close {
  position: absolute;
  right: var(--space-md);
  top: var(--space-md);
  width: 44px;
  height: 44px;
  border: 0;
  background: none;
}

.nav__button-close:focus,
.nav__button-close:hover {
  opacity: 0.65;
  cursor: pointer;
}

.nav__button-close::before,
.nav__button-close::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: " ";
  height: 44px;
  width: 2px;
  background: var(--color-darkgray);
}

.nav__button-close::before {
  transform: rotate(45deg);
}

.nav__button-close::after {
  transform: rotate(-45deg);
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  opacity: 0;
}

.modal {
  background-color: var(--color-eggshell);
  width: min(90%, 450px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  pointer-events: none;
  opacity: 0;
  padding: var(--space-lg);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);

  transition:
    transform 175ms ease-out,
    opacity 200ms ease;
}

.modal__button-close {
  position: absolute;
  right: var(--space-md);
  top: var(--space-md);
  width: 44px;
  height: 44px;
  border: 0;
  background: none;
}

.modal__button-close:hover {
  opacity: 0.65;
  cursor: pointer;
}

.modal__button-close::before,
.modal__button-close::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: " ";
  height: 44px;
  width: 2px;
  background: var(--color-darkgray);
}

.modal__button-close::before {
  transform: rotate(45deg);
}

.modal__button-close::after {
  transform: rotate(-45deg);
}

.modal.show {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal__title,
.modal__span-required {
  padding: 0;
  line-height: 0;
}

.modal__title {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding-block: 0.5em;
}

.form {
  display: grid;
  gap: var(--space-lg);
}

span[aria-label="required"] {
  color: red;
}

.form__group {
  display: grid;
  gap: var(--space-xxs);
  grid-template-columns: minmax(100px, 1fr);
}

.form__label {
  font-weight: 500;
  color: var(--color-darkgray);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: var(--text-md);
}

.form__input {
  color: var(--color-charcoal);
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  padding: var(--space-xxs) var(--space-sm);
}

.form__input:focus {
  outline: 2px solid lime;
}

.form__input::placeholder {
  color: var(--color-gray);
}

.form__buttons {
  text-align: right;
}

.form__button {
  font-weight: 600;
  border: 0;
  border-radius: 3px;
  padding: 0.375em 1em;
  color: white;
  cursor: pointer;
}

.form__button:focus,
.form__button:hover {
  opacity: 0.8;
}

.form__button--save {
  background: #60a5fa;
  margin-right: var(--space-xs);
}

.form__button--cancel {
  background: var(--color-gray);
}

.form__button--cancel {
}

.backdrop.show {
  background-color: var(--color-charcoal);
  opacity: 0.35;
  z-index: 2;
}

.form__create-project-container {
  display: none;
}

option[data-action="create-project"] {
  font-weight: 600;
}

.main {
  z-index: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: "nav main";
  grid-auto-flow: column;
  grid-template-columns: 0 1fr;
}

.main__todos-container {
  grid-area: main;
  background-color: var(--color-porcelain);
}

.main__todos-head {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) var(--space-sm) var(--space-lg);
}

.button-new-todo {
  color: var(--color-white);
  font-size: var(--text-lg);
  font-weight: 600;
  background: rgb(37, 219, 30);
  padding: 1.125em 1.125em;
  border-radius: 3px;
  border: 0;
  border: 3px solid lime;
  transition: transform 50ms;
  letter-spacing: 1.5px;
  line-height: 0;
  display: flex;
  justify-content: center;
}

.button-new-todo:focus,
.button-new-todo:hover {
  cursor: pointer;
  filter: brightness(150%);
  transform: scale(1.05);
}

.button-new-todo:active {
}

.button-new-todo::before {
  position: relative;
  top: -1px;
  font-size: var(--text-xxxl);
  font-weight: 600;
  content: "+";
}

.main__title {
  display: grid;
  grid-template-areas:
    "view-title-label   view-title-label"
    "view-title-icon    view-title-value";
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 var(--space-xs);
}

.main__view-title-label {
  font-size: var(--text-xl);
  font-weight: 700;
  grid-area: view-title-label;
}

.main__view-title-value {
  font-size: var(--text-xl);
  font-weight: 700;
  grid-area: view-title-value;
}

.main__view-title-by-timeframe {
  color: var(--color-accent2-alt);
  text-transform: uppercase;
}

.main__view-title-by-project {
  color: var(--color-accent1-alt);
}

.main__view-title-icon {
  grid-area: view-title-icon;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.main__todos-list {
  padding: 0;
  display: grid;
  gap: var(--space-xs);
  padding: 0 var(--space-sm) var(--space-md);
  filter: var(--drop-shadow-md);
}

.todo-card {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--space-xs);
  display: grid;
  grid-template-areas:
    "checkbox         card-title      button-expand"
    "checkbox         card-body       button-expand";
  grid-template-columns: auto 1fr auto;
  gap: 0 var(--space-md);
}

.todo-card.checked {
  background-color: var(--color-lightgray);
}

.todo-card__checkbox {
  grid-area: checkbox;
  width: 20px;
}

.todo-card__title {
  grid-area: card-title;
  color: var(--color-black);
}

.todo-card__priority-flag {
  color: red;
}

.todo-card__body-container {
  grid-area: card-body;
}

.todo-card__body-simple,
.todo-card__body-expanded {
  display: none;
}

.todo-card__body-simple.show,
.todo-card__body-expanded.show {
  display: grid;
}

.todo-card__body-simple {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--color-gray);
}

.todo-card__body-expanded {
  grid-template-areas:
    "project-label       project-name"
    "due-date-label      due-date-date"
    "description-label   description-body"
    "priority-label      priority-body"
    "notes               notes"
    "checklist-items     checklist-items"
    "extra-buttons       extra-buttons";
  grid-template-columns: auto 1fr;
  gap: var(--space-md);
  margin: 0;
  padding: var(--space-sm) 0 0 0;
  border-top: 1px solid var(--color-gray);
  line-height: 1rem;
  font-size: var(--text-sm);
}

.todo-card__project-label {
  grid-area: project-label;
}

.todo-card__project-name {
  grid-area: project-name;
}

.todo-card__due-date-label {
  grid-area: due-date-label;
}

.todo-card__due-date-date {
  grid-area: due-date-date;
}

.todo-card__description-label {
  grid-area: description-label;
}

.todo-card__description-body {
  grid-area: description-body;
}

.todo-card__priority-label {
  grid-area: priority-label;
}

.todo-card__priority-body {
  grid-area: priority-body;
}

.todo-card__label {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
}

.todo-card__project-name,
.todo-card__due-date-date,
.todo-card__description-body,
.todo-card__priority-body {
  color: var(--color-darkgray);
}

.todo-card__notes {
  grid-area: notes;
}

.todo-card__label-notes {
  position: relative;
}

.todo-card__button-new-note {
  color: #4ade80;
  font-size: var(--text-xxxl);
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 105%;
}

.todo-card__notes-body {
  display: grid;
  gap: 1em;
  position: relative;
}

.todo-card__note {
  border: 1px solid var(--color-lightgray);
  padding: 3px;
  border-radius: var(--border-radius);
}

.todo-card__input-note {
  padding: var(--space-xs);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
}

.todo-card__input-note:focus {
  outline: 2px solid lime;
}

.todo-card__checklist-items {
  grid-area: checklist-items;
  border: 3px solid #0f0;
}

.todo-card__extra-buttons {
  grid-area: extra-buttons;
  display: grid;
  grid-auto-flow: column;
  gap: var(--space-sm);
  justify-content: center;
}

.todo-card__extra-button {
  font-weight: 600;
  border: 0;
  border-radius: 3px;
  padding: 0.375em 1em;
  color: white;
  cursor: pointer;
}

.todo-card__extra-button:hover {
  opacity: 0.8;
}

.todo-card__extra-button--edit {
  background-color: #60a5fa;
}

.todo-card__extra-button--delete {
  background-color: #f87171;
}

.todo-card__extra-button--add-note,
.todo-card__extra-button--add-checklist-item {
  background-color: #4ade80;
}

.button-expanded-section {
  opacity: 0.4;
  justify-self: end;
  align-self: start;
  grid-area: button-expand;
  height: 34px;
  width: 34px;
  background-color: var(--color-porcelain);
  border-radius: 50%;
  border: 0;
  transition: transform 125ms;
  transform: rotate(-90deg);
}

.button-expanded-section img {
  position: relative;
  left: -1px;
}

.button-expanded-section:hover {
  cursor: pointer;
}

.todo-card:hover .button-expanded-section {
  opacity: 1;
}

.button-expanded-section:hover {
  filter: brightness(0.85);
}

.button-expanded-section.show {
  opacity: 1;
  transform: rotate(90deg);
}

@media (min-width: 800px) {
  .button-nav-open {
    display: none;
  }

  .nav__button-close {
    display: none;
  }

  .nav {
    position: relative;
    display: block;
    padding: var(--space-md) 0 0 0;
    margin: 0;
    width: 100%;
    border: 0;
    filter: none;
    text-align: left;
  }

  .nav__title {
    font-size: var(--text-xl);
    font-weight: 500;
    padding: var(--space-md) 0 var(--space-md) var(--space-md);
    margin: 0;
    line-height: 0;
  }

  .nav__title--project {
    border-top: 1px solid var(--color-lightgray);
    padding-top: var(--space-xl);
  }

  .nav__list {
    gap: 0;
    grid-template-columns: 1fr;
  }

  .nav__list--secondary {
    padding-bottom: 4em;
  }

  .nav__item {
    padding: 0 0 0 var(--space-xl);
  }

  .nav__link-timeframe {
    background-color: revert;
  }

  .nav__link-settings {
    position: absolute;
    bottom: 0;

    padding: var(--space-sm) 0;
    text-align: center;
  }

  .grid-container {
    grid-template-columns: 33% 67%;
  }
}

@media (any-pointer: coarse) {
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }

  .button-expanded-section {
    background-color: var(--color-gray);
    width: 50px;
    height: 50px;
    opacity: 0.75;
  }
}
