.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0; /*Needed???*/
  opacity: 0;
}
.popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  pointer-events: none;
  opacity: 0;

  transition:
    transform 175ms ease-out,
    opacity 200ms ease;
}
.popup-modal.show {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%);
}
.backdrop.show {
  opacity: 0.3;
}
